<ion-header>
    <ion-toolbar>
        <ion-title>Time Entry for {{currentDate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="validateLeave">
        <ion-item>
            <ion-label>Were you on leave this day?</ion-label>
            <ion-segment [formControl]="validateLeave.controls['onLeave']">
                <ion-segment-button value="yes">
                    <ion-label>Yes</ion-label>
                </ion-segment-button>
                <ion-segment-button value="no">
                    <ion-label>No</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-item>
    </form>

    <form [formGroup]="validateHours">
        <div>
            <ion-item>
                <ion-label>Task</ion-label>
                <ion-select placeholder="Select One" [formControl]="validateHours.controls['task']">
                    <ion-select-option value="mc">MC</ion-select-option>
                    <ion-select-option value="search">Search</ion-select-option>
                    <ion-select-option value="designAssurance">Design Assurance</ion-select-option>
                    <ion-select-option value="otherProductive">Other Productive</ion-select-option>
                    <ion-select-option value="support">Support</ion-select-option>
                    <ion-select-option value="professionalDevelopment">Professional Development</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>Overtime</ion-label>
                <ion-segment [formControl]="validateHours.controls['overtime']">
                    <ion-segment-button value="yes">
                        <ion-label>Yes</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="no">
                        <ion-label>No</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-item>

            <ion-item>
                <ion-label>Time Spent:</ion-label>
                <ion-input type="text" inputmode="numeric"
                           [formControl]="validateHours.controls['timeSpent']"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>Date</ion-label>
                <ion-input type="date" [formControl]="validateHours.controls['entryDate']"></ion-input>
            </ion-item>
        </div>
    </form>
</ion-content>

<ion-footer>
    <ion-row>
        <ion-col text-center>
            <ion-button (click)="closeModal()">
                Cancel
            </ion-button>
            <ion-button (click)="submitEntry(validateHours)">
                Submit
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
