<ion-header>
    <ion-toolbar>
        <ion-title>Time Entry for {{currentDate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form [formGroup]="workingTime">
        <ion-item>
            <ion-label>Were you on leave this day?</ion-label>
            <ion-segment [formControl]="workingTime.controls['onLeave']">
                <ion-segment-button [value]="true">
                    <ion-label>Yes</ion-label>
                </ion-segment-button>
                <ion-segment-button [value]="false">
                    <ion-label>No</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-item>

        <ion-item>
            <ion-label>Task</ion-label>
            <ion-select placeholder="Select One" [formControl]="workingTime.controls['task']">
                <ion-select-option value="mc">MC</ion-select-option>
                <ion-select-option value="search">Search</ion-select-option>
                <ion-select-option value="designAssurance">Design Assurance</ion-select-option>
                <ion-select-option value="otherProductive">Other Productive</ion-select-option>
                <ion-select-option value="support">Support</ion-select-option>
                <ion-select-option value="professionalDevelopment">Professional Development</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Overtime</ion-label>
            <ion-segment [formControl]="workingTime.controls['overtime']">
                <ion-segment-button value="yes">
                    <ion-label>Yes</ion-label>
                </ion-segment-button>
                <ion-segment-button value="no">
                    <ion-label>No</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-item>
    </form>

    <ion-item>
        <ion-label>Time Spent</ion-label>
        <input type="time" id="timeSpent"
                   [(ngModel)]="timeSpent"
                   class="hideMeridian"
                   pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$"
                   placeholder="Time Value"/>
    </ion-item>

    {{'asdadasd ' + timeSpent}}

    <form [formGroup]="workingTime">
        <ion-item>
            <ion-label>Date</ion-label>
            <ion-input type="date" [formControl]="workingTime.controls['entryDate']"></ion-input>
        </ion-item>
    </form>

</ion-content>

<ion-footer>
    <ion-row>
        <ion-col text-center>
            <ion-button (click)="closeModal()">
                Cancel
            </ion-button>
            <ion-button [disabled]="workingTime?.invalid" (click)="submitEntry(workingTime.getRawValue())">
                Submit
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>
