<ion-header>
    <ion-toolbar>
        <ion-title>{{user.name}}'s Calendar</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-row>
        <ion-col>
            <ion-buttons margin>
                <ion-button
                    color="medium"
                    fill="solid"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()">
                    {{this.getPreviousMonth()}}
                </ion-button>

                <ion-button
                    color="primary"
                    fill="solid"
                    mwlCalendarToday
                    [(viewDate)]="viewDate">
                    Today
                </ion-button>

                <ion-button
                    color="medium"
                    fill="solid"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="closeOpenMonthViewDay()">
                    {{this.getNextMonth()}}
                </ion-button>
            </ion-buttons>
        </ion-col>

        <ion-col>
            <h4 float-end margin-end>{{this.getMonthYear()}}</h4>
        </ion-col>
    </ion-row>


    <mwl-calendar-month-view
        (dayClicked)="dayClicked($event.day)"
        [viewDate]="viewDate"
        [excludeDays]="excludeDays"
        (beforeViewRender)="beforeMonthViewRender($event)"
        [events]="null">
    </mwl-calendar-month-view>
</ion-content>
